<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08" style="">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if request.user.is_authenticated%}
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Dashboard</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>